body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 80%;
    top: 20px;
    left: 10%;
    z-index: 1000;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    border-radius: 5px;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.menu-icon {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

.mobile-nav {
    display: none;
}

/* Add responsive styles */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    .logo a {
        font-size: 1.2em;
    }

    nav {
        display: none;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .mobile-nav {
        display: none;
        background-color: #333;
        position: absolute;
        width: 60%;
        top: 60px;
        right: 10px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: right; /* Align the text to the right in mobile nav */
    }

    .mobile-nav.active {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .mobile-nav a {
        padding: 10px;
        color: #fff;
    }
}
