/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation Styles */
nav {
    background-color: #666;
    padding: 10px;
    display: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: block;
    margin-bottom: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main Content Styles */
main {
    padding: 20px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 12px;
}

/* Hamburger Icon Styles */
.menu-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.hamburger {
    background-color: #fff;
    height: 4px;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
    /* Styles for smaller screens */
    header {
        padding: 10px;
    }

    nav {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #666;
        padding: 10px;
    }

    nav.show {
        display: block;
    }

    nav ul li {
        margin-bottom: 5px;
    }

    .hamburger {
        background-color: #fff;
        height: 4px;
        width: 100%;
        transition: transform 0.3s ease-in-out;
    }

    .hamburger.open {
        transform: rotate(45deg);
    }

    .hamburger.open:before {
        transform: translateY(9px) rotate(-90deg);
    }

    .hamburger.open:after {
        transform: translateY(-9px) rotate(90deg);
    }
}